In [3]:
import pandas as pd
import numpy as np
import sklearn as skl
import seaborn as sb
import matplotlib.pyplot as pyl
import math

In [59]:
df_aapl=pd.read_csv('aapl.us.txt')
df_aapl['Ticker']='AAPL'

In [61]:
df_msft=pd.read_csv('msft.us.txt')
df_msft['Ticker']='MSFT'
df_amzn=pd.read_csv('amzn.us.txt')
df_amzn['Ticker']='AMZN'
df_tsla=pd.read_csv('tsla.us.txt')
df_tsla['Ticker']='TSLA'
df_googl=pd.read_csv('googl.us.txt')
df_googl['Ticker']='GOOGL'

In [63]:
df=pd.concat([df_aapl,df_msft,df_amzn,df_tsla,df_googl])

In [77]:
fdf.set_index(['Ticker','Date'],inplace=True)

In [65]:
df['Date']=pd.to_datetime(df['Date'])

In [69]:
fdf=df[df['Date']>='2007-11-10']

In [79]:
fdf.sort_index(inplace=True)

C:\Users\krish\AppData\Local\Temp\ipykernel_22640\173534033.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fdf.sort_index(inplace=True)

In [81]:
fdf

                      Open     High      Low    Close     Volume  OpenInt
Ticker Date
AAPL   2007-11-12   21.130   21.479   19.291   19.691  492362604        0
       2007-11-13   20.615   21.897   19.691   21.765  484373501        0
       2007-11-14   22.733   22.739   20.970   21.274  403585172        0
       2007-11-15   21.280   21.717   20.528   21.040  414487458        0
       2007-11-16   21.193   21.388   20.405   21.309  385660112        0
...                    ...      ...      ...      ...        ...      ...
TSLA   2017-11-06  307.000  307.500  299.010  302.780    6482486        0
       2017-11-07  301.020  306.500  300.030  306.050    5286320        0
       2017-11-08  305.500  306.890  301.300  304.310    4725510        0
       2017-11-09  302.500  304.460  296.300  302.990    5440335        0
       2017-11-10  302.500  308.360  301.850  302.990    4621912        0

[11934 rows x 6 columns]

In [87]:
fdf=fdf.drop('OpenInt',axis=1)

In [89]:
fdf

                      Open     High      Low    Close     Volume
Ticker Date
AAPL   2007-11-12   21.130   21.479   19.291   19.691  492362604
       2007-11-13   20.615   21.897   19.691   21.765  484373501
       2007-11-14   22.733   22.739   20.970   21.274  403585172
       2007-11-15   21.280   21.717   20.528   21.040  414487458
       2007-11-16   21.193   21.388   20.405   21.309  385660112
...                    ...      ...      ...      ...        ...
TSLA   2017-11-06  307.000  307.500  299.010  302.780    6482486
       2017-11-07  301.020  306.500  300.030  306.050    5286320
       2017-11-08  305.500  306.890  301.300  304.310    4725510
       2017-11-09  302.500  304.460  296.300  302.990    5440335
       2017-11-10  302.500  308.360  301.850  302.990    4621912

[11934 rows x 5 columns]

In [91]:
fdf["Daily Return"] = fdf.groupby(level=0)["Close"].pct_change()

In [105]:
fdf["7-day  Moving Average"] = (
    fdf.groupby(level="Ticker")["Close"]
    .rolling(window=7)
    .mean()
    .reset_index(level=0, drop=True)
)

In [107]:
fdf["30-day Moving Average"] = (
    fdf.groupby(level="Ticker")["Close"]
    .rolling(window=30)
    .mean()
    .reset_index(level=0, drop=True)
)

In [115]:
fdf["Rolling Volatility(30d)"] = (
    fdf.groupby(level="Ticker")["Daily Return"]
    .rolling(window=30)
    .std()
    .reset_index(level=0, drop=True)
)

In [117]:
fdf

                      Open     High      Low    Close     Volume  \
Ticker Date
AAPL   2007-11-12   21.130   21.479   19.291   19.691  492362604
       2007-11-13   20.615   21.897   19.691   21.765  484373501
       2007-11-14   22.733   22.739   20.970   21.274  403585172
       2007-11-15   21.280   21.717   20.528   21.040  414487458
       2007-11-16   21.193   21.388   20.405   21.309  385660112
...                    ...      ...      ...      ...        ...
TSLA   2017-11-06  307.000  307.500  299.010  302.780    6482486
       2017-11-07  301.020  306.500  300.030  306.050    5286320
       2017-11-08  305.500  306.890  301.300  304.310    4725510
       2017-11-09  302.500  304.460  296.300  302.990    5440335
       2017-11-10  302.500  308.360  301.850  302.990    4621912

                   Daily Return  7-day  Moving Average  30-day Moving Average  \
Ticker Date
AAPL   2007-11-12           NaN                    NaN                    NaN
       2007-11-13      0.105327                    NaN                    NaN
       2007-11-14     -0.022559                    NaN                    NaN
       2007-11-15     -0.010999                    NaN                    NaN
       2007-11-16      0.012785                    NaN                    NaN
...                         ...                    ...                    ...
TSLA   2017-11-06     -0.010814             314.527143             339.294800
       2017-11-07      0.010800             312.410000             337.988133
       2017-11-08     -0.005685             310.157143             336.766133
       2017-11-09     -0.004338             306.080000             335.545800
       2017-11-10      0.000000             303.495714             334.278133

                   Rolling Volatility(30d)
Ticker Date
AAPL   2007-11-12                      NaN
       2007-11-13                      NaN
       2007-11-14                      NaN
       2007-11-15                      NaN
       2007-11-16                      NaN
...                                    ...
TSLA   2017-11-06                 0.022166
       2017-11-07                 0.022317
       2017-11-08                 0.022261
       2017-11-09                 0.022261
       2017-11-10                 0.022224

[11934 rows x 9 columns]

In [113]:
fdf.head(10)

                     Open    High     Low   Close     Volume  Daily Return  \
Ticker Date
AAPL   2007-11-12  21.130  21.479  19.291  19.691  492362604           NaN
       2007-11-13  20.615  21.897  19.691  21.765  484373501      0.105327
       2007-11-14  22.733  22.739  20.970  21.274  403585172     -0.022559
       2007-11-15  21.280  21.717  20.528  21.040  414487458     -0.010999
       2007-11-16  21.193  21.388  20.405  21.309  385660112      0.012785
       2007-11-19  21.262  21.540  20.758  20.996  321694225     -0.014689
       2007-11-20  21.247  22.000  20.942  21.623  429930531      0.029863
       2007-11-21  21.195  22.072  21.086  21.572  339509885     -0.002359
       2007-11-23  22.027  22.033  21.739  21.967  129891462      0.018311
       2007-11-26  22.268  22.700  22.072  22.097  363869639      0.005918

                   7-day  Moving Average  30-day Moving Average  \
Ticker Date
AAPL   2007-11-12                    NaN                    NaN
       2007-11-13                    NaN                    NaN
       2007-11-14                    NaN                    NaN
       2007-11-15                    NaN                    NaN
       2007-11-16                    NaN                    NaN
       2007-11-19                    NaN                    NaN
       2007-11-20              21.099714                    NaN
       2007-11-21              21.368429                    NaN
       2007-11-23              21.397286                    NaN
       2007-11-26              21.514857                    NaN

                   Rolling Volatility(30d)
Ticker Date
AAPL   2007-11-12                      NaN
       2007-11-13                      NaN
       2007-11-14                      NaN
       2007-11-15                      NaN
       2007-11-16                      NaN
       2007-11-19                      NaN
       2007-11-20                      NaN
       2007-11-21                      NaN
       2007-11-23                      NaN
       2007-11-26                      NaN

In [127]:
avg_return = fdf.groupby(level=0)["Daily Return"].mean()

In [129]:
avg_return

Ticker
AAPL     0.001064
AMZN     0.001359
GOOGL    0.000645
MSFT     0.000589
TSLA     0.002101
Name: Daily Return, dtype: float64

the highest average return in the 10 year period is of TSLA .

In [ ]:
df1 = fdf.reset_index()
df1['Month'] = df1['Date'].dt.to_period('M')
Max_Volatile_Month = (
    df1.groupby(['Ticker', 'Month'])['Daily Return']
    .std()
    .dropna()
).idxmax()

grouped by tickers and month and volatility was calculated monthly

In [160]:
Max_Volatile_Month

('TSLA', Period('2010-06', 'M'))

The Max Volatile Month was on 2010-06 of TSLA